
/* ---------- TO DO ---------- */
/* Create a Class for Roboto font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
}

/* ::selection {  background: none;} */

.wrapper {
  display: inline-flex;
  overflow: hidden;
}

/* BODY */
.menu_container, .game_container {
}

.blur {
  filter: blur(5px);
}

.menu_container {
  width: 32vw;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.game_container {
width: 68vw;
height: 100vh;
/* background-color: white; */
}

/* BORNE ZONE */
.borne_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.card_text::selection  {  background: none;}

.card_container {
  margin: 10px;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.card_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  fill: #000;
}

.card_green {  fill: #BEF662;}
.card_green:active {  fill: #B8EA66;}

.card_red {  fill: #FF6C6C;}
.card_red:active {  fill: #EE6666;}

.card_indice_container {

}

/* INDICE */
.indice_container {
  position: relative;
  top: -30px;
  left: 105px;
  width: 24px;
  height: 24px;
  padding: 3px 0 0 0;
  margin-left: 10px;
  border-bottom: solid 3px lightgrey;
  border-radius: 3px 3px 0 0;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.indice_border_P1 {  border-color: #61DAEB;}
.indice_border_P2 {  border-color: #FFE08F;}
.indice_border_P3 {  border-color: #BEF662;}
.indice_border_P4 {  border-color: #FF9DFB;}

.indice_container input {
  border: none;
  width : 24px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {  -moz-appearance: textfield;}

.hidden {
  display: none;
}

/* TITLE */
.title {
  text-align: right;
  line-height: 1em;
  padding: 42px 180px 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 75px;
}


/* ROUND */
.round_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.round {
  box-sizing: border-box;
  width: 58px;
  height: 58px;
  padding-top: 10px;
  border: solid lightgrey;

  border-width: 2px 2px 10px 2px;
  /* border-radius: 5px 5px 0 0; */
  /* border-radius: 5px 5px 3px 3px; */
  border-radius: 5px;

  background-color: white;
  text-align: center;
  color: lightgrey;

  margin: 20px 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
}

.round_P1 {border-color: #61DAEB;}
.round_P2 {border-color: #FFE08F;}
.round_P3 {border-color: #BEF662;}
.round_P4 {border-color: #FF9DFB;}


/* PLAYER */
.player_card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.player_card {
  margin: 24px 21px;

  box-sizing: border-box;
  width: 420px;
  height: 160px;
  background-color: white;
  border-radius: 10px;
  border: solid;
  border-width: 0 0 0 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.color_P1, .color_P2, .color_P3, .color_P4 {color: black;}
.color_P1 {border-color: #61DAEB;}
.color_P2 {border-color: #FFE08F;}
.color_P3 {border-color: #BEF662;}
.color_P4 {border-color: #FF9DFB;}

.p_active {
  border-left-width: 45px;
}

/* ---------- TEST ----------  */

.playerChoice_hider {
  display: none;
  z-index: 9;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(223, 223, 223, 0.66);

  /* backdrop-filter: blur(15px); */

  /* -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px); */
/* filter: blur(5px); */
}

.playerChoice_container {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 75vw;
  height: 50vh;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.playerChoice_container .player_card {
  height: auto;
  margin: 10px;
  padding: 10px 20px;
  width: 250px;
  /* TO REMOVE */
  border-radius: 20px;
  /* ___ */
}

.playerChoice_active {
  display: block;
  /* animation-duration: 3s; */
}

.P1, .P2, .P3, .P4 {
  display: inline-block;
  width : 100px;
  height: 50px;
  text-align: center;
  padding-top: 30px;
}

.P1 {background-color: #61DAEB;}
.P2 {background-color: #FFE08F;}
.P3 {background-color: #BEF662;}
.P4 {background-color: #FF9DFB;}

/* ---------- ---- ----------  */
